
#maitre-widget-container {
  color: #EEE !important;
}

#maitre-submit-button {
	background-color: #26a69a !important;
	color: #000 !important;
	border-radius: 1px !important;
}

p, a, h1, h2, h3, h4, h5, label, text, button {
	font-family: Montserrat, "Helvetica Neue", "Lucida Grande", Arial, Verdana, sans-serif !important;
}

#maitre-widget-container input:focus {
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}
#maitre-widget-container input:focus ~ label, #maitre-widget-container input:valid ~ label {
	color: #26a69a !important;
}

#maitre-people-ahead-number, #maitre-people-ahead-text, #maitre-widget-container h4 {
	color: #26a69a !important;
}

#maitre-widget-container input {
    border-bottom: 1px solid #EEE !important;
    background: transparent !important;
}

#maitre-widget-container p, #maitre-widget-container h1, #maitre-widget-container h2, #maitre-widget-container a {
	color: #EEE !important;
}

#maitre-widget-container {
	max-width: none !important;
}

